dist
.next
next.config.js
.jest
src/ui/assets/*
yarn.lock
.gitattributes
.gitignore
.eslintignore
.eslintrc
.prettierrc
coverage

/*.json
tsconfig.json
next-env.d.ts
package-lock.json
package.json
README.md

.env